@import 'tailwindcss';
@theme {
	--color-background: #232946;
	--color-headline: #fffffe;
	--color-paragraph: #b8c1ec;
	--color-button: #eebbc3;
	--color-button-text: #232946;

	/* Illustration Colors */
	--color-illustration-stroke: #121629;
	--color-illustration-main: #b8c1ec;
	--color-illustration-highlight: #eebbc3;
	--color-illustration-secondary: #fffffe;
	--color-illustration-tertiary: #eebbc3;

	--animate-typing: typing 2s steps(20) alternate, blink 0.7s infinite;
	@keyframes typing {
		0% {
			width: 0%;
			visibility: hidden;
		}
		100% {
			width: 100%;
		}
	}

	@keyframes blink {
		50% {
			border-color: transparent;
		}
		100% {
			border-color: white;
		}
	}
}
